In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from env import user, password, host
import os

# plotting defaults
plt.rc('figure', figsize=(11, 5))
plt.style.use('seaborn-whitegrid')
plt.rc('font', size=16)

In [4]:
df = pd.read_csv('saas.csv')
df.to_csv('saas.csv')
df

,Unnamed: 0,Month_Invoiced,Customer_Id,Invoice_Id,Subscription_Type,Amount
0,0,2014-01-31,1000000,5000000,0.0,0.0
1,1,2014-01-31,1000001,5000001,2.0,10.0
2,2,2014-01-31,1000002,5000002,0.0,0.0
3,3,2014-01-31,1000003,5000003,0.0,0.0
4,4,2014-01-31,1000004,5000004,1.0,5.0
...,...,...,...,...,...,...
790453,790453,2017-12-31,1029395,5790453,0.0,0.0
790454,790454,2017-12-31,1029396,5790454,0.0,0.0
790455,790455,2017-12-31,1029397,5790455,3.0,15.0
790456,790456,2017-12-31,1029398,5790456,0.0,0.0
790457,790457,2017-12-31,1029399,5790457,0.0,0.0

In [5]:
train_size = int(round(df.shape[0] * 0.5))
train_size

395229

In [6]:
validate_size = int(round(df.shape[0] * 0.3))
validate_size

237137

In [7]:
test_size = int(round(df.shape[0] * 0.2))
test_size

158092

In [8]:
len(df) == train_size + validate_size + test_size

True

In [9]:
validate_end_index = train_size + validate_size
validate_end_index

632366

In [10]:
train = df[:train_size]

In [11]:
validate = df[train_size:validate_end_index]

In [12]:
train.head()

,Unnamed: 0,Month_Invoiced,Customer_Id,Invoice_Id,Subscription_Type,Amount
0,0,2014-01-31,1000000,5000000,0.0,0.0
1,1,2014-01-31,1000001,5000001,2.0,10.0
2,2,2014-01-31,1000002,5000002,0.0,0.0
3,3,2014-01-31,1000003,5000003,0.0,0.0
4,4,2014-01-31,1000004,5000004,1.0,5.0

In [13]:
validate.head()

,Unnamed: 0,Month_Invoiced,Customer_Id,Invoice_Id,Subscription_Type,Amount
395229,395229,2015-10-31,1019182,5395229,0.0,0.0
395230,395230,2015-10-31,1019183,5395230,0.0,0.0
395231,395231,2015-10-31,1019185,5395231,1.0,5.0
395232,395232,2015-10-31,1019186,5395232,0.0,0.0
395233,395233,2015-10-31,1019187,5395233,0.0,0.0

In [14]:
test = df[validate_end_index:]

In [15]:
test.head()

,Unnamed: 0,Month_Invoiced,Customer_Id,Invoice_Id,Subscription_Type,Amount
632366,632366,2017-01-31,1026539,5632366,0.0,0.0
632367,632367,2017-01-31,1026540,5632367,1.0,5.0
632368,632368,2017-01-31,1026541,5632368,0.0,0.0
632369,632369,2017-01-31,1026542,5632369,4.0,20.0
632370,632370,2017-01-31,1026543,5632370,0.0,0.0